.container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.inner{
    max-width:980px;
    width:80%;
    margin-top:30px;
    border: 1px solid #F66B6B;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding:20px 0px 40px 0px;
}
